
<div class="container" ng-controller="IndexCtrl">
  <h1 class="text-center">My blog</h1>
  <div class="row" ng-repeat="post in data.posts">
      <h2>{{ post.title }}</h2>
      <p>{{ post.contents }}</p>
    </div>

    <button input="button" ng-click="myToggle()">{{ btnToggle }}</button>

			<table class="table">
				<tbody>
  				<tr ng-repeat="pl in data.playlists">
           <td>
              <a href 
                ng-click="togglePlaylistSubsciption($index)">
                {{ glyphAction[$index] }}
              </a>
            </td>
					</tr>
  			</tbody>
			</table>

      <h3> ---- #2 ---- </h3>
			<table class="table">
				<tbody>
  				<tr>
           <td>
              <a href 
                ng-click="togglePlaylistSubsciption2()">
                {{ glyphAction2 }}
              </a>
            </td>
					</tr>
  			</tbody>
			</table>

      <h3> ---- Angular-Charts with D3  ---- </h3>

  <div >
    <div ac-chart="chartType" ac-data="chartData" ac-config="config" id="chart" class="chart" style="float:left; width: 50%; height:400px; backgound-color:blue;"></div>
  </div>
      
</div>
